h2{
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 150px;
}
body{
    color: #ffffff;
    min-height: 750px;
    background-image: url('../images/scattered-sigil.jpg');
}

header{
    padding-bottom: 10px;
}

footer{
    background-color: #555555;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.answerButton{
    float: right;
    width: 85%;
    margin: 20px;
    position: relative;
    right: 20px;
}

.clearfix::after{
    content: "";
    clear:both;
    display: table;
}

#mainDiv{
    background-color: #222222;
    font-size: 20px;
    position:relative;
    top: 75px;
    min-height: 400px;
    display: table;
    padding: 0px;
    text-align: center;
}

#questDiv{
    background-color: #222222;
    display: flex;
    float: left;
    width: 40%;
    padding: 20px;
}

#ansDiv{
    background-color: #222222;
    display: table;
    height: 100%;
    width: 60%;
    /* position:relative; */
}

#infoText{
    display: relative;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

#startButton, #letsGoButton{
    height: 75px;
    position: relative;
    top: 35px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#reloadButton{
    position: static;
}

#scoreDiv{
    font-size: 25px;
    padding: 15px;
    max-height: 30px;
    margin-bottom: 20px;
}

#pic{
    margin: auto;
}
@media screen and (max-width: 1050px){
    #ansDiv{
        width: 42%;
        float: right;
    }

    #letsGoButton{
        top:20px;
    }

    #scoreDiv{
        padding-left: 50%;
    }
}

@media screen and (max-width: 667px){
    #mainDiv{
        height: 600px;
        margin-left: 0px;
        margin-right: 0px;
        display: table;
        margin-bottom: 75px;
        margin-top: -40px;
    }
    #questDiv{
        width: 75%;
        height: auto;
        display: block;
    }
    #scoreDiv{
        break-before: always;
        display: block;
        padding-left: 0%;
    }
    #pic{
        position: static;
        width:50%;
        height: auto;

    }
    #ansDiv{
        width: 100%;
        position: static;

    }
    /* #pic{
        width: 75px;
        height: auto;
    } */
}